<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="de.tobias.playpad.server.logger.LogFilter" />

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4level [%logger{36}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="deng" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>